@page "/videoview"
@using LibVLCSharp.Maui
@inject LibVLC LibVLC

<h3>Video Player</h3>

<VideoView MediaPlayer="@MediaPlayer" />

@code {
    private MediaPlayer MediaPlayer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        MediaPlayer = new MediaPlayer(LibVLC);
        var media = new Media(LibVLC, "rtsp://your-camera-url");
        MediaPlayer.Media = media;
        MediaPlayer.Play();
    }
}